@font-face {
    font-family: 'customicon';
    src:    url('fonts/customicon.eot?k48m21');
    src:    url('fonts/customicon.eot?k48m21#iefix') format('embedded-opentype'),
        url('fonts/customicon.ttf?k48m21') format('truetype'),
        url('fonts/customicon.woff?k48m21') format('woff'),
        url('fonts/customicon.svg?k48m21#customicon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="ci"], [class*=" ci"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'customicon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /*vertical-align: -15% !important;*/
    margin-top: 2px !important;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cinoun_3321_cc:before {
    content: "\e900";
}
.cinoun_7056_cc:before {
    content: "\e901";
}
.cinoun_10271_cc:before {
    content: "\e902";
}
.cinoun_12542_cc:before {
    content: "\e903";
}
.cinoun_14182_cc:before {
    content: "\e904";
}
.cinoun_20221_cc:before {
    content: "\e905";
}
.cinoun_30982_cc:before {
    content: "\e906";
}
.cinoun_30987_cc:before {
    content: "\e907";
}
.cinoun_31053_cc:before {
    content: "\e908";
}
.cinoun_35065_cc:before {
    content: "\e909";
}
.cinoun_36792_cc:before {
    content: "\e90a";
}
.cinoun_36794_cc:before {
    content: "\e90b";
}
.cinoun_51608:before {
    content: "\e90c";
}
.cinoun_62127_cc:before {
    content: "\e90d";
}
.cinoun_62139_cc:before {
    content: "\e90e";
}
.cinoun_62140_cc:before {
    content: "\e90f";
}
.cinoun_65161_cc:before {
    content: "\e910";
}
.cinoun_68263_cc:before {
    content: "\e911";
}
.cinoun_68273_cc:before {
    content: "\e912";
}
.cinoun_71510_cc:before {
    content: "\e913";
}
.cinoun_91333_cc:before {
    content: "\e914";
}
.cinoun_124416_cc:before {
    content: "\e915";
}
.cinoun_124417_cc:before {
    content: "\e916";
}
.cinoun_124418_cc:before {
    content: "\e917";
}
.cinoun_128336_cc:before {
    content: "\e918";
}
.cinoun_131395_cc:before {
    content: "\e919";
}
.cinoun_132196_cc:before {
    content: "\e91a";
}
.cinoun_143728_cc:before {
    content: "\e91b";
}
.cinoun_144002_cc:before {
    content: "\e91c";
}
.cinoun_150469_cc:before {
    content: "\e91d";
}
.cinoun_150474_cc:before {
    content: "\e91e";
}
.cinoun_150476_cc:before {
    content: "\e91f";
}
.cinoun_168223_cc:before {
    content: "\e920";
}
.cinoun_175063_cc:before {
    content: "\e921";
}
.cinoun_175064_cc:before {
    content: "\e922";
}
.cinoun_176222_cc:before {
    content: "\e923";
}
.cinoun_176971_cc:before {
    content: "\e924";
}
.cinoun_258972_cc:before {
    content: "\e925";
}
.cinoun_258979_cc:before {
    content: "\e926";
}
.cinoun_267258_cc:before {
    content: "\e927";
}
.cinoun_286071_cc:before {
    content: "\e928";
}
.cinoun_312266_cc:before {
    content: "\e929";
}
.cinoun_332888_cc:before {
    content: "\e92a";
}
.cinoun_332935_cc:before {
    content: "\e92b";
}
.cinoun_346992_cc:before {
    content: "\e92c";
}
.cinoun_379578_cc:before {
    content: "\e92d";
}
.cinoun_386475_cc:before {
    content: "\e92e";
}
.cinoun_401802_cc:before {
    content: "\e92f";
}
.cinoun_411270_cc:before {
    content: "\e930";
}
.cinoun_417768_cc:before {
    content: "\e931";
}

