body{

	font-size: 12px;
}


p{
	font-weight:bold;
	color:#7d9098;
}

p b{
	color:#ffffff;
	display:inline-block;
	padding:5px 10px;
	background-color:#c4d7e0;
	border-radius:2px;
	text-transform:uppercase;
	font-size:18px;
}

.form-control{
	font-size: 12px;
}

.btn, .panel{
	border-radius: 0px ;
}



/*transparent buttions*/
.cursorClick {
}

.icon-wrap {
    display: inline-block;
    background: none;
    border: none;
 	cursor: pointer;
}

.iw-1x {
    width: 14px;
    padding: 0 10px;
}

.iw-2x {
    width: 24px;
    padding: 10px 0px;
    padding-right: 30px;
    color:	#5597b4;
}

.icon-wrap[disabled] {
    opacity: 0.35;
}

.icon-wrap[disabled]:hover {
    text-shadow: initial;
}

.icon-wrap:hover, .icon-wrap:active, .icon-wrap:focus {
    text-shadow: 0px 0px 0.2em;
}

button[disabled]:hover, input[disabled]:hover {
    cursor: not-allowed;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: initial; 
}

.btn{
	background-color:	#5597b4;
    border: none;
    border-radius: 1px;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}

.btn:hover {
  background-color: #e35885;
}

.iw-2x:hover {
  color: #e35885;
}
